:root {
    --primary-color: #038C33;
    --secondary-color: #013614;
    --third-color: #070707;
    --background-color: #f5f5f5;
    --bg-color-opacity:#010c05d9;
    --text-color: #ffffff;
    --border-radius: 20px;
    --transition-duration: 0.3s;
    --btn-shadow:  #171717 0px 8px 12px;
    --img-filter: brightness(60%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}
.cursos_portuges_intro, .cursos_list {
    height: 50vh;
    margin: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--btn-shadow);
    background-color:var(--bg-color-opacity);
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
img {
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--primary-color);
}
p {
    margin-bottom: 20px;
}
.curso_item p {
    margin-bottom: 0;
}
.cursos_portuges_intro {
    display: flex;
    text-align: center;
}
.cursos_portuges_intro .textos {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cursos_portuges_intro .textos h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--primary-color)
}
.cursos_portuges_intro .textos p {
    font-size: 1.1rem;
    color: var(--text-color);
}
.cursos_portuges_intro .contenedor_img {
    width: 50%;
    height:100%;/* IMPORTANTE */
    border-radius: var(--border-radius);
    overflow: hidden; /* evita que la imagen se desborde */
}
.cursos_portuges_intro .contenedor_img img {    
    width: 100%;
    height: 100%;
    object-fit: cover;     /* hace que la imagen llene la caja */
    object-position:0% 25%; /* puedes cambiar a top / bottom */
    filter: var(--img-filter);
    transition: filter var(--transition-duration) ease;
}
.cursos_portuges_intro .contenedor_img img:hover {
    filter: brightness(100%);
}
.cursos_list {
    display: grid;
    height: fit-content;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-content: center;
}
.cursos_list .curso_item {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--btn-shadow);
}
@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
    .cursos_portuges_intro {
        flex-direction: column;
        height: 100vh;
    }
    .cursos_list {
        height: fit-content;
    }
    .cursos_portuges_intro .textos, .cursos_portuges_intro .contenedor_img {
        width: 100%;
        height: 50%;
    }
}
@media (max-width: 767px) {
    .cursos_portuges_intro {
        flex-direction: column;
        height: fit-content;
    }
    .cursos_portuges_intro .textos, .cursos_portuges_intro .contenedor_img {
        width: 100%;
        height: 50%;
    }
}